MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.oe0akin.mongodb.net/mabrinhenhedb?retryWrites=true&w=majority
ADMIN_PASSWORD=mabrinhenhe2026
PORT=5000
CLOUDINARY_API_KEY=259851568455899
CLOUDINARY_API_SECRET=3hRsXzUVd3pnwn9IKQWN7UAeJLc
CLOUDINARY_CLOUD_NAME=dnvnftvky
